<?xml version="1.0" encoding="utf-8"?>
<EmulatorConfiguration>
  <Length>3000</Length>
  <Speed>150</Speed>
  <Bumps>
    <BumpConfiguration>
      <Position>700</Position>
      <Direction>
        <X>0</X>
        <Y>20</Y>
      </Direction>
    </BumpConfiguration>
  </Bumps>
  <RattleLimit>1.5</RattleLimit>
  <Flexs>
    <FlexConfiguration>
      <Position>1500</Position>
      <Maxumum>5</Maxumum>
    </FlexConfiguration>
  </Flexs>
  <Frame>
    <Sensors>
      <SensorConfiguration>
        <Position>
          <X>0</X>
          <Y>70</Y>
        </Position>
        <ScanVertor>
          <X>0</X>
          <Y>-1</Y>
        </ScanVertor>
      </SensorConfiguration>
      <SensorConfiguration>
        <Position>
          <X>70</X>
          <Y>0</Y>
        </Position>
        <ScanVertor>
          <X>-1</X>
          <Y>0</Y>
        </ScanVertor>
      </SensorConfiguration>
      <SensorConfiguration>
        <Position>
          <X>0</X>
          <Y>-70</Y>
        </Position>
        <ScanVertor>
          <X>0</X>
          <Y>1</Y>
        </ScanVertor>
      </SensorConfiguration>
      <SensorConfiguration>
        <Position>
          <X>-70</X>
          <Y>0</Y>
        </Position>
        <ScanVertor>
          <X>1</X>
          <Y>0</Y>
        </ScanVertor>
      </SensorConfiguration>
    </Sensors>
    <ScanSpeed>150</ScanSpeed>
    <Error>1</Error>
  </Frame>
</EmulatorConfiguration>